
:root{
    --btn-color:blue;
    --bg-color:yellow;
    --default-color:green;

}
*{
    box-sizing: border-box;
    background-color: var(--bg-color);
   
}
.h1{
    text-align: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar a {
   
    margin: 10px 30px;
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: start;
    gap: 30px;

}
.card{
   
 padding: 20px;
  flex: 0 0 250px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.53);
  
  
}

.card p{
    
    text-align: center;
    
   }
   .card h2{

  text-align: center;
   }
   .card h3{

    text-align: center;
     }
  

.card:hover{
     transform: scaleX(1.1);
     transform: rotateY('30');
}
