*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    text-align: center;
}
div > div {
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: yellow;
}

.linear div{
    background: linear-gradient(-120deg,red, blue);
}

 .linear div:nth-of-type(2) {
    background: linear-gradient( red, green, blue);
}


.linear div:last-of-type{
    background: linear-gradient(-120deg,red,green,blue);
} 

.radial div{
    background: radial-gradient(red, blue, green);
}

.radial div:nth-of-type(2){
    background: radial-gradient(farthest-side, red, blue,green);
}

.radial div:last-of-type{
    background: radial-gradient(closest-side, red, blue,green);
}

.conic div{
    background: conic-gradient(red,rgb(181, 43, 135));
}