body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(229, 112, 112),rgb(139, 139, 234));
    
  }
  
  div {
    text-align: center;
    background: white;
    padding: 40px 60px;
    
    
  }
  
  .title h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
  }
  
  .title h3 {
    margin-top: 10px;
    color: #666;
    font-size: 16px;
    
  }
  
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    background: linear-gradient(pink, rgb(232, 114, 212));
    border-radius: 5px;
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .next{
    width: 200px;
    align-self: flex-end;

  }
  