body{
    box-sizing: border-box;
}
.grid{
    width: 60vw;
    height: 70vh;
    border: 1px solid aquamarine;
    display: grid;
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 50% 200px 100px; */
    /* grid-template-columns: repeat(3,33.33%); */
    /* grid-template-columns: 1fr 1fr 1fr;
      /*grid-template-rows: 1fr 1fr 1fr ; */
      grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "a a"
    "b c"
    "b d";
}

.red{
    background-color:red;
   grid-area: a;
}
.blue{
    background-color: blue;
    grid-area: b;
   }
.green{
    background-color: green;
    grid-area: c;
}
.brown{
    background-color: rgb(161, 27, 49);
   grid-area: d;
}